body
{
    margin:0;
    padding:100px 0 0 0;
}
html body
{
    overflow:hidden;
}
html div#content
{
    height:100%;
    overflow:auto;
}

div#header
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:70px;
    background-color:rgb(241, 241, 241);
    color:#000000;
    border: 1px solid rgb(229, 229, 229);
}
@media screen
{
    body>div#header
    {
        position: fixed;
    }
}
#registro
{
    background-color:rgb(241, 241, 241);
    border: 1px solid rgb(229, 229, 229);
    width:275px;
    min-height: 200px;
    height: auto !important;
    font-weight:bold;
    margin:0 auto;
}
.datosUsuario
{
    font:arial,helvetica,sans-serif;
    color: rgb(51, 51, 51);
    margin-left:20px;
}
.nuevoRegistro
{
    color: rgb(221, 75, 57);
    font:arial,helvetica,sans-serif;
    margin-left:20px;
    font-size: 1.30em;
    font-weight: normal;
}
.campos
{
    width:90px;
    height:25px;
    margin-left:20px;
    padding:5px;
    margin-top:5px;
}
.botonAzul
{
    text-decoration: none;
    text-align:center;
    font: bold 11px Helvetica, Arial, sans-serif;
    color: white;
    line-height: 17px;
    height: 18px;
    display: inline-block;
    margin: 5px;
    margin-left:20px;
    width: 100px;
    padding: 5px 6px 4px 6px;
    background: #4B8DF8;
    background: -webkit-linear-gradient(top, #4C8FFD, #4787ED);
    background: -moz-linear-gradient(top, #4C8FFD, #4787ED);
    background: -ms-linear-gradient(top, #4C8FFD, #4787ED);
    background: -o-linear-gradient(top, #4C8FFD, #4787ED);
    border: solid 1px #3079ED;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    height: 29px;
    cursor: pointer;
    -webkit-transition: border .20s;
    -moz-transition: border .20s;
    -o-transition: border .20s;
    transition: border .20s;
}
.botonAzul:hover
{
    border: 1px solid #2F5BB7 !important;
    background: #3F83F1;
    background: -webkit-linear-gradient(top, #4D90FE, #357AE8);
    background: -moz-linear-gradient(top, #4D90FE, #357AE8);
    background: -ms-linear-gradient(top, #4D90FE, #357AE8);
    background: -o-linear-gradient(top, #4D90FE, #357AE8);
}